@model Tour.Models.Blog
@{
    ViewBag.Title = "BlogPostView";
}



<head>
    <link rel="stylesheet" href="signin.css">

    <style>
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            /* When moving the mouse over the submit button, add a darker green color */
            input[type=submit]:hover {
                background-color: #45a049;
            }

        /* Add a background color and some padding around the form */
        #contactForm {
            border-radius: 5px;
            background-color: #f2f2f2;
            opacity: 0.95;
            filter: alpha(opacity=50);
            padding: 20px;
            margin-top: 100px;
            margin-bottom: 100px;
        }
    </style>

</head>




@using (Html.BeginForm("BlogPostView", "BlogPost", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container" id="contactForm">

        <div class="col-md-12" style="margin-left:250px;">

            <div class="form-horizontal">
                <h2 style="margin-left:200px;">Post a blog</h2>

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.BlogTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BlogTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BlogTitle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BlogBody, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.BlogBody, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BlogBody, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Post" class="btn btn-default" />
                    </div>


                </div>

            </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <label class="label-success">@ViewBag.SuccessMessage</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <label class="label-danger">@ViewBag.DuplicateMessage</label>
                    </div>
                </div>

            </div>
        </div>
    

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

