
@Model List<Guide>
  
    @{
        ViewBag.Title = "TourGuideView";
    }

    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Heroic Features - Start Bootstrap Template</title>

        <!-- Bootstrap core CSS -->
        <link href="~/Conntent/Contnt/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="~/Conntent/Contnt/css/heroic-features.css" rel="stylesheet">

    </head>

    <body>

        <!-- Navigation -->
        <!-- Page Content -->
        <div class="container">

            <!-- Jumbotron Header -->
            <header class="jumbotron my-4">
                <h2 class="display-3">Here is the details of the Tour guide!</h2>
                <h4 class="lead">To See contact information,Please Login first!</h4>
            </header>

            <!-- Page Features  <div class="col-lg-3 col-md-6 mb-4"> -->
            <div class="row text-center">
                @foreach (var item in Model)
                {
                    <div class="col-md-2">

                    </div>
               
                    <div class="col-md-8">
                        <div class="card h-100">
                            <div class="card-body" style="background-color: #f5f9ff;padding:50px;">
                                <img class="card-img-top" style="max-width: 100%; max-height: 100%;" src="@Url.Content(@item.Image)" alt="">
                                <h2>Name : @item.FirstName  @item.LastName</h2>
                                <h4 class="card-text" style="height:60px">Charges from: @item.MinCharge BDT To  @item.MaxCharge BDT </h4>
                                @if (Session["userId"] == null)
                                {
                                    <h4 class="card-text" style="height:60px"><a href="@Url.Action("LoginView","Login")">Login to see phone number!</a></h4>
                                }
                                else
                                {
                                    <h4 class="card-text" style="height:20px">Phone: @item.Phone.</h4>
                                }
                            </div>
                            <div class="card-footer">

                            </div>
                        </div>

                        <div style="height:50px">

                        </div>
                    </div>

                }


            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
        <!-- Footer -->
        <!-- Bootstrap core JavaScript -->
        <script src="~/Conntent/Contnt/vendor/jquery/jquery.min.js"></script>
        <script src="~/Conntent/Contnt/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
