@model IEnumerable<Tour.Models.TourGuide>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.LocationId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MinCharge)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaxCharge)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Image)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { item.TourGuideId, item.LocationId, item.FirstName, item.LastName, item.MaxCharge, item.MinCharge, item.Phone }) |
        
        @Html.ActionLink("Delete", "Delete", new { id = item.TourGuideId })
    </td>

    
</tr>
}

</table>
<div>
    @Html.ActionLink("Move to TourGuide List", "List")
</div>
